/* <--------------------------- fonts, default styling & Scroll  ---------------------------> */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
/* Remove scrollbar */
.body::-webkit-scrollbar {
  display: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  background-color: rgb(238, 231, 246);
}
/* <-- Header & Main styling --> */
.head {
  background-color: rgb(34, 4, 82);
  color: white;
  user-select: none;
  border-bottom: 10px solid white;
  box-shadow: rgba(57, 19, 146, 0.45) 0px 50px 120px 0px;
}
.head-logo {
  appearance: none;
  text-decoration: none;
  color: white;
}
.title {
  font-size: 6vw;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  display: flex;
  justify-content: center;
  text-shadow: 0.1em 0.1em 0 hsla(0, 0%, 0%, 0.788);
  -webkit-filter: drop-shadow(5px 5px 5px #000000);
  filter: drop-shadow(5px 5px 5px #000000);
}
.logo {
  max-width: 100%;
  height: auto;
  width: 6vw;
  margin: 0 10px 0 10px;
  -webkit-filter: drop-shadow(5px 5px 5px #000000);
  filter: drop-shadow(5px 5px 5px #000000);
}
.description {
  font-size: 2.5vw;
  font-optical-sizing: auto;
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-filter: drop-shadow(5px 5px 5px #000000);
  filter: drop-shadow(5px 5px 5px #000000);
}
@media (max-width: 576px) {
  .title {
    font-size: 15vw;
  }
  .description {
    font-size: 6vw;
  }
  .logo{
    width: 10vw;
  }
}
@media (max-width: 360px) {
  .title {
    font-size: 12vw;
  }
  .description {
    font-size: 6vw;
  }
}
.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -80px;
  position: relative;
}
@media screen and (max-width: 720px) {
  .app {
    margin-top: -65px;
  }
}
.app-container {
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: all 0.12s cubic-bezier(0, 0, 0.7, 1.3);
}
.input {
  border-radius: 40px;
  height: 80px;
  margin: 40px 0;
  width: 720px;
}
@media screen and (max-width: 720px) {
  .input {
    height: 50px;
    width: 80vw;
  }
}
.app-container > div {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.frame {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}
.url-input {
  appearance: none;
  border: none;
  font-size: 32px;
  height: 100%;
  outline: none;
  padding: 0 190px 0 30px;
  width: 100%;
}
::placeholder {
  color: gray;
}
@media screen and (max-width: 720px) {
  .url-input {
    font-size: 20px;
    padding: 0 130px 0 20px;
  }
}
.btn-url {
  appearance: none;
  background-color: rgb(34, 4, 82);
  border: none;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 32px;
  font-weight: 600;
  font-optical-sizing: auto;
  letter-spacing: 3px;
  height: 60px;
  outline: none;
  position: absolute;
  right: 10px;
  transition: 0.3s;
  width: 170px;
  user-select: none;
}
.btn-url:hover {
  background-color: rgb(66, 41, 136);
}
@media screen and (max-width: 720px) {
  .btn-url {
    font-size: 16px;
    height: 40px;
    right: 5px;
    width: 120px;
  }
}
/* <-------------------------------------- Features --------------------------------------> */
.features {
  max-width: 1200px;
  margin: 40px auto;
  padding: 10px;
  user-select: none;
}
.chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.icon {
  text-align: center;
  margin-bottom: 20px;
}
.icon img {
  width: 48px;
  height: 48px;
}
/* <----------------------------------- Footer -----------------------------------> */
.footer {
  padding: 40px 20px 0px 20px;
  text-align: center;
  width: 100%;
  background-color: rgb(34, 4, 82);
  color: white;
  border-top: 10px solid white;
  box-shadow: rgba(57, 19, 146, 0.45) 0px -50px 120px 0px;
}
.footer-content {
  max-width: 800px;
  margin: auto;
}
